 *{font-family: 'STHeiti';box-sizing:border-box;}
 html{
     font-size: 62.5%;
 }
body{margin: 0rem;padding:0rem;}
#login-page{margin:0rem;padding:0rem;background: url(../images/loginBackground.png);background-size: 100%;}
#login-page .title{margin-top:20%;color:#FFF;font-size:9.0rem;text-align: center;margin-bottom:20%;}
.form-row{margin-top:2.0rem;text-align: center;}
.form-row input{margin-left:10%;width:80%;height:5.0rem;border-radius: 2.0rem;border:none;background: rgba(37,46,60,0.7);text-align: center;font-size:3.0rem;color:#FFF;}
.form-button {text-align: center;}
.form-button button{margin-left:10%;width:80%;border-radius: 2.0px;font-size:30px;text-align: center;border:none;color:#FFF;height:5rem;}
.login-btn{background: #179ef8;margin-top:20%;}
.find-btn{background: #2dcb74;margin-top:2.0rem;}

/*common start*/
   .topbar{
            height:12.0rem;padding-top:6.0rem;color:#FFF;background: url(../images/background.png);background-size: cover;
        }
        .topbar>*{width:33.33%;float:left;height:100%;}
        .topbar a,.topbar a:visited{color:#FFF;text-decoration: none;}
        .topbar .title{text-align: center;font-size:3.4rem;}
        .topbar .lefttools{font-size: 3.0rem;padding-left:2.0rem;}

        .summary{overflow:auto;background: #e4e7ea;border-bottom: 0.1rem solid #d3d7db;padding:3.0rem;font-size:3.6rem;}
        .summary span{font-size: 2.4rem;color:#7a8895;display: block;margin-top:1.0rem;}


.problem{padding:3.0rem;font-size:3.6rem;}
.problem span{font-size: 2.4rem;color:#7a8895;display: block;margin-top:1.0rem;}
        .form-button{width:100%;float:left;}
fieldset{padding:0rem;margin:0rem!important;}
/*common end*/

/*start page start*/
#start-page{margin:0rem;padding:0rem;background: url(../images/background.png);background-size: cover;}
#start-page .topbar{border-bottom:0.1rem solid #252e36;}

.welcome{font-size:6.0rem;color:#FFF;text-align: center;margin-top:20%;}
.welcome span{color:#179ef8;}

.subWelcome{font-size: 2.8rem;color:#7a8895;text-align: center;margin-top:1.5rem;}
.subStart{font-size: 2.8rem;color:#7a8895;text-align: center;margin-top:40%;}

.form-button {text-align: center;}
.form-button button{width:80%;border-radius: 2.0rem;font-size:3.0rem;text-align: center;border:none;color:#FFF;height:5.0rem; line-height: 5.0rem; padding: 0 0 0 0 ;}
.start-btn{background: #2dcb74;margin-top:2.0rem;}

/*start page end*/

/*basic page start*/

.form-body{padding:3.0rem;width:100%;}
.form-body>div{border:0.1rem solid #e4e7ea;height:10.0rem;width:100%;height:12.0rem;line-height: 12.0rem;
    float:left;margin-top:-0.1rem;}
.form-body>div>label{border-right:0.1rem solid #e4e7ea;float:left;width:20%;font-size:3.0rem;text-align: center;}
.form-body>div .input{float:left;width:80%;}
.form-body>div input{height:12.0rem;border:none;width:100%;font-size: 4.8rem;padding-left:2.0rem;color:#7a8895;}
.gender .ui-radio{width:50%;border:none;float:left;height:100%;text-align: left;}
.gender .ui-radio label{padding:0rem 0rem 0rem 2.0rem;font-size:3.0rem;}
.gender .ui-radio label.ui-btn-active{background: #e4e7ea;}
.gender .ui-controlgroup-controls{width:100%;}
.gender input{display: none;}
#basic-page .form-button{width:100%;float:left;}
#basic-page .start-btn{background: #2dcb74;margin-top:8.0rem;}
/*basic page end*/

/*number page start*/
#number-page .next-btn{background: #2dcb74;margin-top:8.0rem;}

        .number{font-size: 12.0rem;text-align: center;margin-top:10%;margin-bottom: 10%;}
        .number .unit{font-size: 5.0rem;}
        .slider{width:100%;padding-right:10%;text-align: center;}

        /*slider*/
        .ui-slider-track.ui-shadow-inset.ui-bar-inherit.ui-corner-all{
            box-shadow: none;
              -moz-box-shadow:none;
                -webkit-box-shadow:none;
                border:none;
                background: #383c3d;
        }
        .ui-slider-bg.ui-btn-active{
            box-shadow: none;
              -moz-box-shadow:none;
                -webkit-box-shadow:none;
                border:none;
                background-color: #f0c40d!important;
        }
        .ui-slider-handle.ui-btn.ui-shadow{
            width:5.6rem;
            height:5.6rem;
            border-radius: 5.6rem;
            top:-0.5rem;
			background-color: 			#f6f6f6 /*{a-bup-background-color}*/;
			border-color:	 		#ddd /*{a-bup-border}*/;
        }



.slider .ui-slider-track.ui-corner-all{
	-webkit-border-radius: 				.3125em /*{global-radii-buttons}*/;
	border-radius: 						.3125em /*{global-radii-buttons}*/;
}
.slider .ui-shadow {
	-webkit-box-shadow: 0 0.1rem 0.3rem /*{global-box-shadow-size}*/ 		rgba(0,0,0,.15) /*{global-box-shadow-color}*/;
	-moz-box-shadow: 0 0.1rem 0.3rem /*{global-box-shadow-size}*/ 		rgba(0,0,0,.15) /*{global-box-shadow-color}*/;
	box-shadow: 0 0.1rem 0.3rem /*{global-box-shadow-size}*/ 				rgba(0,0,0,.15) /*{global-box-shadow-color}*/;
}


/*number page end*/

/*text page start*/
#text-page .textbox{
	float:left;
	width:100%;
	margin-top:10%;
	margin-bottom:10%;
}
#text-page .textbox input{
	width:80%;
	border-radius: 1.0rem;
	border:0.1rem solid #e4e7ea;
	margin-left:10%;
	height:8.6rem;
	line-height: 8.6rem;
	padding-left:2.0rem;
	font-size:3.0rem;
	color:#000;
}
#text-page .next-btn{background: #2dcb74;margin-top:8.0rem;}
/*text page end*/

/*radio page start*/
.radio .ui-radio{width:80%;margin-left:10%;float:left;margin-right:10%;border:0.1rem solid #e4e7ea;margin-top:-0.1rem;}
.radio .ui-radio>label{position:relative;margin:0rem;font-size:3.0rem;color:#222222;line-height:6.0rem;padding-left:8.0rem;padding-top:1.0rem;padding-bottom:1.0rem;}
.radio .ui-radio>label:after{top:4.0rem;width:2.0rem;height:2.0rem;border-radius:2.0rem;background: #FFF;border:0.2rem solid #e6e9ec;}
.radio .ui-radio>label.ui-radio-on:after{background: #179ef8;}
.radio .ui-radio>label.ui-radio-on{color:#179ef8;}
.radio .ui-radio input{display: none;}
#radio-page .next-btn{background: #2dcb74;margin-top:8.0rem;}
/*radio page end*/
